* {
  scrollbar-color: var(--scrollbar-thumb, #aecbfa)
    var(--scrollbar-track, rgba(255, 255, 255, 0));
  scrollbar-width: thin;
}
.open-container {
  display: none;
}
#webcam {
  width: 250px;
  height: 250px;
  transform: scaleX(1);
}
.samples_image {
  border-radius: 10px;
  padding: 4px;
  width: 80px;
  height: auto;
}
.fancybox__content {
  width: 300px;
  height: 300px;
}
.sample-source-btn {
  text-align: center;
  background-color: #e8f0fe;
  color: #1967d2;
  border: 2px solid transparent;
  border-radius: 4px;
  /* font-weight: bolder; */
  /* font-weight: 500; */
}
