{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
  <div class="jumbotron jumbotron-fluid bg-light pb-2 pt-3" style="border-radius: 10px;">
    <div class="container">
      <h1 class="display-4 font-weight-bold text-primary">New Project</h1>
      <p class="lead text-secondary">
        Choose between using TensorFlow's ready-made datasets for easy training or crafting your own dataset for
        personalized control in machine learning training.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 card-animation">
      <a class="card text-dark text-decoration-none p-3 border" style="border-radius: 10px;"
        href="{% url 'standardTraining' %}">
        <img src="{% static 'images/tensorflow.png' %}" class="card-img-top" />
        <div class="card-body">
          <h2 class="">Standard Training</h2>
          <p class="card-text">
            Utilize TensorFlow's pre-existing datasets to quickly train models for object detection, streamlining the
            process without the need for custom data gathering.
          </p>
        </div>
      </a>
    </div>
    <div class="col-sm-4 card-animation">
      <a class="card text-dark text-decoration-none p-3 border" style="border-radius: 10px;"
        href="{% url 'customTraining' %}">
        <img src="{% static 'images/create.webp' %}" class="card-img-top" />
        <div class="card-body">
          <h2 class="">New Training</h2>
          <p class="card-text">
            Craft your own image-based dataset for object detection, offering complete control over the data used for
            training models tailored to specific detection tasks.
          </p>
        </div>
      </a>
    </div>
    <div class="col-sm-4 card-animation">
      <a class="card text-dark text-decoration-none p-3 border" style="border-radius: 10px;"
        href="{% url 'importModelTraining' %}">
        <img src="{% static 'images/import.jpg' %}" class="card-img-top" />
        <div class="card-body">
          <h2 class="">Import Training</h2>
          <p class="card-text">
            Bringing in a pre-trained model, honed through prior training, and employing it for object detection tasks, leveraging its learned insights to make accurate predictions.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}