{% extends 'base.html' %} {% block content %}
<div class="container my-3">
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4">New Project</h1>
      <p class="lead">
        This is a modified jumbotron that occupies the entire horizontal space
        of its parent.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a
        class="card text-black text-decoration-none p-2 bg-light border rounded"
        href="{% url 'standardTraining' %}"
      >
        <img src="https://picsum.photos/600/300" class="card-img-top" />
        <div class="card-body">
          <h2 class="">Standard Training</h2>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a
        class="card text-black text-decoration-none p-2 bg-light border rounded"
        href=""
      >
        <img src="https://picsum.photos/600/300" class="card-img-top" />
        <div class="card-body">
          <h2 class="">New Training</h2>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a
        class="card text-black text-decoration-none p-2 bg-light border rounded"
        href=""
      >
        <img src="https://picsum.photos/600/300" class="card-img-top" />
        <div class="card-body">
          <h2 class="">Customized Training</h2>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
