<nav class="navbar navbar-expand-md navbar-light bg-light shadow py-md-0">
    <a class="navbar-brand font-weight-bold text-primary " href="/">Insightful Detection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% comment %} <li class="nav-item active">
        <a class="nav-link font-weight-bold" href="/"><span class="pr-1"><i class="fas fa-home"></i></span>Home</a>
      </li> {% endcomment %}
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="{% url 'standardTraining' %}"><span class="pr-1"><i class="fas fa-check"></i></span>Standard Training</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="{% url 'customTraining' %}"><span class="pr-1"><i class="fas fa-wrench"></i></span> Custom Training</a>
      </li>
    </ul>
  </div>
</nav>