{% load static %}
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
{% comment %} <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" /> {% endcomment %}
<link href="{% static 'libs/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
{% comment %} <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" /> {% endcomment %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<link href="{% static 'libs/fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />


<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'libs/@fancyapps/ui/dist/fancybox/fancybox.css' %}" />
{% comment %} <link rel="stylesheet" href="{% static 'libs/toastify-js/src/toastify.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}">
{% comment %} <link href="
https://cdn.jsdelivr.net/npm/select2-bootstrap4-theme@1.0.0/dist/select2-bootstrap4.min.css
" rel="stylesheet" /> {% endcomment %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">